body {
  background-color: white;
  background-image: url("https://webster.cs.washington.edu/images/silverware.jpg");
  background-attachment: fixed;
}

h1 {
  background-color: #F0F0F0;
  text-align: center;
  color: #A4A400;
  font-family: "Lucinda Sans Unicode", Helvetica, Arial, serif;
  font-size: 22pt;
}

h2 {
  background-color: #F0F0F0;
  text-align: left;
  color: #A4A400;
  font-family: "Lucinda Sans Unicode", Helvetica, Arial, serif;
  font-size: 22pt;
}

h3 {
  background-color: #F0F0F0;
  text-align: left;
  color: #A4A400;
  font-family: "Lucinda Sans Unicode", Helvetica, Arial, serif;
  font-size: 22pt;
}

h4 {
  background-color: #F0F0F0;
  text-align: left;
  color: #A4A400;
  font-family: "Lucinda Sans Unicode", Helvetica, Arial, serif;
  font-size: 22pt;
}

dl {
  font-size: 11pt;
  font-family: "Georgia";
}

p {
  font-size: 11pt;
}
