body {
  background-color: white;
  background-image: url("https://webster.cs.washington.edu/images/silverware.jpg");
  background-attachment: fixed;
  color: #404040;
  font-family: Georgia, Garamond, serif;
  font-size: 11pt;
}

h1 {
  background-color: #F0F0F0;
  color: #A4A400;
  display: inline;
  font-family: "Lucida Sans Unicode", Helvetica, Arial, serif;
  font-size: 22pt;
  font-weight: bold;
  letter-spacing: 0.25em; 
  text-align: center;
}

h2, h3, h4, h5 {
  background-color: #F0F0F0;
  color: #A4A400;
  display: inline;
  font-family: "Lucida Sans Unicode", Helvetica, Arial, serif;
  font-size: 18pt;
  letter-spacing: 0.25em; 
  text-align: left;
}

a {
  color: #A4A400; 
}

pre {
    font-family: "Lucida Console";
}

ul {
  list-style-image: url("https://webster.cs.washington.edu/images/pie-icon.gif");
}

p.comment {
  background-color: #FFFFA8;
  font-style: italic;
  margin-left: 50px;
}
